@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';   /* তুমি যে নামটি দিতে চাও */
  src: url('./Fonts/e4af272ccee01ff0-s.woff2') format('woff2');
  font-weight: normal;          /* optional: normal, bold ইত্যাদি */
/* optional: normal, italic ইত্যাদি */
}


body {
  font-family: 'CustomFont', sans-serif;
  overflow: hidden;
}

.animateSpin {
  animation: spin 2.1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.home {
  color: #fff;
}


.scroll-area::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.scroll-area::-webkit-scrollbar-track {
  background: rgba(148, 163, 184, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  margin: 0 10px;
}

.scroll-area::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 6px;
  transition: all 0.2s;
}

.scroll-area::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 6px;
  transition: all 0.2s;
}


.parent_optionBox {
  transition: all 0.3s ease;
}
.parent_optionBox .optionBox{
  transform: translateX(80);
  transition: all 0.3s ease;
}

.parent_optionBox:hover .optionBox {
  transform: translateX(0);
  padding: 25px 20px;
}



div img.profilePic {
  transition: transform 0.3s ease;
}

div img.profilePic:hover {
  transform: scale(1.1);
}

.options {
  height: 0px;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s ease;
}

a.sideOption {
  position: relative;
  text-decoration: none;
  color: inherit;
}

a.sideOption::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #7d97f4;
  transition: width 0.3s ease;
}

a.sideOption.active::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  div img.profilePic {
    transition: transform 0.3s ease;
  }
  
  div img.profilePic:hover {
    transform: scale(1);
  }
  .parent_optionBox {
    transition: all 0.3s ease;
  }
  .parent_optionBox .optionBox {
    display: none;
  }

  .parent_optionBox:hover .optionBox {
    display: none; /* মোবাইলে hover থাকবে না তাই flex দরকার নেই */
  }
}
