@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  overflow: hidden;
}

.animateSpin {
  animation: spin 2.1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.home {
  color: #fff;
}


.scroll-area::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.scroll-area::-webkit-scrollbar-track {
  background: rgba(148, 163, 184, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  margin: 0 10px;
}

.scroll-area::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 6px;
  transition: all 0.2s;
}

.scroll-area::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 6px;
  transition: all 0.2s;
}


.parent_optionBox {
  transition: all 0.3s ease;
}
.parent_optionBox .optionBox{
  display: none;
}

.parent_optionBox:hover .optionBox {
  display: flex;
  padding: 25px 20px;
}


div img.profilePic {
  transition: transform 0.3s ease;
}

div img.profilePic:hover {
  transform: scale(1.1);
}

.options {
  height: 0px;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s ease;
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1.5px;
  background-color: #61DBFB;
  transition: width 0.3s ease;
}

a.active::after {
  width: 100%;
}
/* 
<div className="relative">
<div
  className="absolute -inset-2 rounded-lg "
></div>
<div className="relative flex w-full h-64 items-center justify-center border border-zinc-700 rounded-lg bg-zinc-900 text-slate-300">
  Gradient shadow
</div>
</div> */

@media screen and (max-width: 768px) {
  div img.profilePic {
    transition: transform 0.3s ease;
  }
  
  div img.profilePic:hover {
    transform: scale(1);
  }
  .parent_optionBox {
    transition: all 0.3s ease;
  }
  .parent_optionBox .optionBox {
    display: none;
  }

  .parent_optionBox:hover .optionBox {
    display: none; /* মোবাইলে hover থাকবে না তাই flex দরকার নেই */
    padding: 25px 20px;
  }
}
